<extend name="common:base" />
<block name="body">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-6" style='width: 100%'>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>流水明细</h5>
                    </div>

                    <div class="ibox-content">

                        <form role="form" name="searchform" method="get" class="form-inline" >

                            <div class="form-group">
                                <label >类型</label>
                                <select class="form-control" name="type" >
                                    <option value="0">请选择</option>
                                    <volist name="process_type" id="vo">
                                        <option value="{$key}" <if condition="$key eq $type">selected </if>>{$vo}</option>
                                    </volist>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="id" value="{$Think.get.id}">
                                <button type="submit" class="btn btn-outline btn-success" >搜索</button>
                            </div>


                        </form>
                        <p style="line-height: 10px;"></p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>会员id</th>
                                    <!--<th>会员姓名</th>-->
                                    <th>操作人</th>
                                    <th>类别</th>
                                    <th>订单编号</th>
                                    <th>金额</th>
                                    <th>余额</th>
                                    <th>添加时间</th>
                                </tr>
                                </thead>
                                <tbody id="formlist">
                                <volist name="data.list" id="vo">
                                    <tr class="odd gradeA">
                                        <td>{$vo.id}</td>
                                        <td>{$vo.mid}</td>
                                        <!--<td>{:getFieldShow('s_member','nickname',array('id'=>$vo['mid']))}</td>-->
                                        <td>{:getFieldShow('user','username',array('id'=>$vo['uid']))}</td>
                                        <td>{:getConfig('process_type',$vo['process_type'])}</td>
                                        <td>{:getFieldShow('s_order','order_sn',array('id'=>$vo['order_id']))}</td>
                                        <td>
                                            <if condition="($vo.process_type eq 2) OR ($vo.process_type eq 11)">-<else/>+</if>
                                            {$vo.amount}
                                        </td>
                                        <td>{$vo.balance}</td>
                                        <td>{$vo.created_at}</td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12" style="float: none">
                            <div class="pagination" >共{$data.count}条</div>
                            <button type="button" style="margin-left: 50px;" onclick="history.go(-1)" class="btn btn-w-m btn-default">&nbsp;返回</button>
                            <ul class="pagination" id="page" style="float: right">{$data.page}</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>


