<extend name="common:base" />
<block name="body">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>反馈问题管理</h5>
                    </div>

                    <div class="ibox-content">
                        <p style="line-height: 10px;"></p>
                        <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>会员id</th>
                                <th>会员姓名</th>
                                <th style="width: 550px;">反馈内容</th>
                                <th>添加时间</th>
                                <php>if($auth->check( 'admin/ask/del',  session('uid'))){</php>
                                <th>操作</th>
                                <php>}</php>
                            </tr>
                            </thead>
                            <tbody id="formlist">
                            <volist name="data.list" id="vo">
                                <tr class="odd gradeA">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.mid}</td>
                                    <td>{:getFieldShow('s_member','real_name',array('id'=>$vo['mid']))}</td>
                                    <td>{$vo.content}</td>
                                    <td>{$vo.created_at}</td>
                                    <php>if($auth->check( 'admin/ask/del',  session('uid') )){</php>
                                    <td class="center">
                                        <if condition="$vo.flag eq true">
                                        <php>if($auth->check( 'admin/ask/del',  session('uid') )){</php>
                                        <a href="javascript:void(0);" class="badge badge-danger" onclick="confirm_del(this)" data-url="{:u('del')}" data-id="{$vo.id}" data-msg="确定要删除吗">删除</a>&nbsp;&nbsp;
                                        <php>}</php>
                                    </td>
                                    <php>}</php>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                         </div>
                        <div class="col-lg-12" style="float: none">
                            <div class="pagination" >共{$data.count}条</div>
                            <ul class="pagination" id="page" style="float: right">{$data.page}</ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
</block>


